html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #eee;
}

#quizHeader {
    font-size: 36pt;
    position: fixed;
    margin: auto;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #eee;
    border-bottom: 3px solid black;
}

#quizBody {
    width: 40%;
    margin: auto;
    text-align: left;
    font-size: 18pt;
    padding: 100px 50px 0;
    border-left: 1px dashed black;
    border-right: 1px dashed black;
}